a.user-item(href="/users/#{user['id']}")
  h2.user-item__full-name= user['full_name']
  h5.user-item__username
    | @
    = user['username']
  .user-item__picture
    = image_tag(user['profile_picture'])
