- if @user
  .user
    = render partial: 'user', locals: { user: @user }

    .user__information
      h2 Information
      h3.user__followers-count
        ' Followers:
        = number_with_delimiter(@user['counts']['followed_by'])
      h3.user__most-liked-photos Most liked photos (last week)
      .user__most-liked-photos__data.js-most-liked-photos= image_tag('loader.gif', class: 'loader')
      h3.user__most-commented-photos Most commented photos (last week)
      .user__most-commented-photos__data.js-most-commented-photos= image_tag('loader.gif', class: 'loader')

  = render partial: 'shared/photo_liked.jst'
  = render partial: 'shared/photo_commented.jst'
- else
  h1 User profile is private :(
