.welcome
  h1.welcome__header Instagram test project
  form.welcome__search-form(action='/search')
    label.welcome__search-form__label
      | Search for users or hashtags
      input.welcome__search-form__input(name='query')
      button.welcome__search-form__submit(type='submit') Search
