.tag
  = render partial: 'tag', locals: { tag: @tag }

  .tag__information
    h2 Information
    h3.tag__most-liked-photos Most liked photos (last week)
    .tag__most-liked-photos__data.js-most-liked-photos= image_tag('loader.gif', class: 'loader')
    h3.tag__most-commented-photos Most commented photos (last week)
    .tag__most-commented-photos__data.js-most-commented-photos= image_tag('loader.gif', class: 'loader')

= render partial: 'shared/photo_liked.jst'
= render partial: 'shared/photo_commented.jst'
